.mixedSlider {
  position: relative;
}
.item-slider.forth {
	width: 25%!important; 
}

.MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
.item-slider {
  display: inline-block;
  width: 32.3333%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .item-slider {
    width: 49%;
  }
  .item-slider.forth {
    width: 49%!important;
  }
}
@media (max-width: 767px) {
  .item-slider,.item-slider.forth {
    width: 100%;
  }
}
.item-slider .imgTitle {
  position: relative;
}
.item-slider .imgTitle.article{
  max-height:200px;
}

.blogTitle {
  margin: 0;
  text-align: left;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.item-slider .imgTitle img {
  height: auto;
  width: 100%;
}
.item-slider p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
}

.MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
.MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .MS-controls button {
    font-size: 20px;
  }
}
.MS-controls .MS-left {
  left: 0px;
}
@media (max-width: 767px) {
  .MS-controls .MS-left {
    left: -10px;
  }
}
.MS-controls .MS-right {
  right: 0px;
}
@media (max-width: 767px) {
  .MS-controls .MS-right {
    right: -10px;
  }
}
#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item-slider {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}
@media (max-width: 991px) {

#basicSlider .MS-content .item-slider { width: 25%; }
}
@media (max-width: 767px) {

#basicSlider .MS-content .item-slider { width: 35%; }
}
@media (max-width: 500px) {

#basicSlider .MS-content .item-slider { width: 50%; }
}

#basicSlider .MS-content .item-slider a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}